{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">
{% block title %}Login{% endblock %}
{% block content %}

<body class="body_login">
    <div class="wrapper_login">
        <div class="container_login">
            {% if form.errors %}
              <h3 class="h3_login">Невірний логін або пароль. Спробуйте ще раз.</h3>
            {% endif %}
            {% if not form.errors %}
              <h3 class="h3_login">Введіть логін і пароль.</h3>
            {% endif %}

            {% if next %}
              {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
              {% else %}
                <p>Please login to see this page.</p>
              {% endif %}
            {% endif %}

            <form method="post" action="{% url 'login' %}" class="form_login">
                {% csrf_token %}
                <label>
                     <input class="input_login" type="text" placeholder="Username" {{ form.username }}
                </label>
                <label>
                    <input class="input_login" type="password" placeholder="Password" {{ form.password }}
                </label>


                {#      <td class="input_login"> {{ form.username.label_tag }}</td>#}
{#                      <td class="input_login">{{ form.username }}</td>#}

{#                      <td>{{ form.password.label_tag }}</td>#}
{#                      <td>{{ form.password }}</td>#}

                <button class="button_login" type="submit" value="login" id="login-button">Login</button>
                <input class="input_login" type="hidden" name="next" value="{{ next }}">
            </form>

            {# Assumes you setup the password_reset view in your URLconf #}
            <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
        </div>
    </div>
</body>
{% endblock %}
{% block cabinet %}

{% endblock %}