{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="{% static 'js/app.pay.js' %}" defer></script>
  {% block title %}
    <title>{% trans "Pay app" %}</title>
  {% endblock %}
</head>
<body
  class="{% block body_class %}app-body{% endblock %}"
  {% block body_data %}{% endblock %}>
  <div class="app-root">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
