{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ua">
<head>
    {% block title %}
            <title>Change date</title>
    {% endblock %}
</head>
{% block table %}
<body class="container">
    <form method="POST" class="main">
        {% csrf_token %}
        <table >
            <tr class='colMS'>
                <td bgcolor="#00ffff">{{ forloop.counter}}</td>
                <td bgcolor="#00ffff">{{object_l.paid_up_to|date:"d.m.Y"}}
                    <label>
                        <input type="date" name="paid_up_to" value="{{object_l.paid_up_to|date:"d.m.Y"}}">
                            <button type="submit" class="btn_add" onclick="alert('Дату успішно змінено')">Save</button>
                    </label>
                </td>
            </tr>
        </table>

    </form>
    {% block cabinet %}
    {% endblock %}
{% endblock %}
</body>
</html>

